.idea/
**/.idea/
.DS_Store
*.DS_Store

**/__pycache__/*
**/cmake-build-debug/*

ros_workspace/build
ros_workspace/log
ros_workspace/install
ros_workspace/Camera

**/build/*
*.csv
*.png
*.mp4
*.log
.xlsx
.pdf

*rosbag2*/